# =========================
# Project specific
# =========================


# =========================
# General
# =========================
.git
./log
./tmp

# =========================
# Docker
# =========================
.dockerignore
*Dockerfile*
*docker-compose*

# =========================
# IDEs
# =========================

# IntelliJ / Webstorm
.idea

# Visual Code
.vscode

# =========================
# NPM
# =========================
node_modules
package.lock.json
